//Определение свойств
:root {
    --main-color: #212223;
    --main-back: #fff;

    --gray-main: #212223;
    --gray-mid-text: #797979;
    --gray-mid: #656565;
    --gray-light: #a8a8a8;
    --gray-small: #f2f2f2;
    --gray-background: #e3e3e3;
    --gray-border: #c4c4c4;
    --gray-hover-select: rgba(196, 196, 196, 0.2);

    --main-font: "Montserrat", sans-serif;
}

//Создание переменных
$mainColor: var(--main-color);
$grayMain: var(--gray-main);
$grayMidText: var(--gray-mid-text);
$grayMid: var(--gray-mid);
$grayLight: var(--gray-light);
$graySmall: var(--gray-small);
$grayBack: var(--gray-background);
$grayBorder: var(--gray-border);
$grayHoverSelect: var(--gray-hover-select);

$mainBack: var(--main-back);
$mainFont: var(--main-font);

