//Определение свойств
:root {
    --main-color: #212223;
    --main-back: #fff;

    --gray-main: #212223;
    --gray-mid: #656565;
    --gray-light: #a8a8a8;
    --gray-small: #f2f2f2;

    --main-font: "Montserrat", sans-serif;
}

//Создание переменных
$mainColor: var(--main-color);
$grayMain: var(--gray-main);
$grayMid: var(--gray-mid);
$grayLight: var(--gray-light);
$graySmall: var(--gray-small);

$mainBack: var(--main-back);
$mainFont: var(--main-font);

