@import "./rootStyles/main.scss";
@import "./rootStyles/mixins.scss";
@import "./header.scss";
@import "./index.scss";

body#root{
  background-color: $graySmall;
}

.intro {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 1.875rem;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__info {
    margin-left: 6.25rem;
    margin-top: 16.375rem;
    height: calc(100% - 22.79em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__title {
    color: $mainBack;
    max-width: 37rem;
    font-size: 3.875rem;
    line-height: 1.25;
  }
}

.catalog {
  margin-top: 3.125rem;
  &__selects {
    display: flex;
    justify-content: center;
    margin-bottom: 1.875rem;
    &_mobile {
      display: none;
    }
  }

  &__tabs {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__filters {
    margin-bottom: 3.125rem;
  }
  
  .select {
    width: 24%;
    margin: 0 0.3125rem 0 0.3125rem;

    &__title {
      border: 1px solid $grayBack;
      color: $grayMid;
    }
  }
}

.filterModal {
  display: none;
}

.product:nth-child(5) {
  margin: 0 0.75rem;
}

@media (max-width: 768px) {

  .intro {
    &__image {
      object-position: -29.125rem 0px;
    }
    &__info {
      margin-left: 0;
      justify-content: center;
    }
    &__title {
      font-size: 1.75rem;
      line-height: 1.29;
      max-width: 50%;
    }
  }
  
  .filterModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 6;
    display: none;
    justify-content: center;
    align-items: center;
    animation-name: appear;
    animation-duration: 300ms;
  
    &__active {
      display: flex;
    }
  
    &__button_close {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.25rem;
      margin-right: 1.25rem;
    }
  
    &__content {
      width: 85%;
      height: 70%;
      background-color: $mainBack;
      
      position: relative;
      animation-name: slide-in;
      animation-duration: 0.7s;
    }

    &__title {
      text-align: center;
    }
  
    &__intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0.9375rem;
      margin-top: -0.75rem;
    }
    &__text{
      max-width: 21.5625rem;
      margin-top: 1.25rem;
      text-align: center;
    }
  
    &__close {
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      background-color: $grayBack;
      position: relative;
  
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 0.5625rem);
        width: 1.125rem;
        height: 2px;
        background-color: $grayMain;
        transform: rotate(45deg);
      }
  
      &::after {
        transform: rotate(-45deg);
      }
    }
  
    &__form {
      margin-top: 1.875rem;
      padding: 0 1.0625rem 1.25rem 1.125rem;
    }
  
    &__input {
      width: 100%;
      border: 1px solid #e0e0e0;
      padding: 0.9375rem;
      margin-bottom: 0.9375rem;
      font-size: 0.875rem;
      line-height: 1.45;
      color: $grayMid;
  
      &::placeholder {
        font-size: 0.875rem;
        line-height: 1.45;
        color: $grayMid;
      }
    }
  
    &__button_apply {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0 1.0625rem 0 1.125rem;
    }
  
    &__apply {
      background-color: $grayMain;
      background-color: var(--gray-main);
      width: 100%;
      padding: 1.125rem 0;
      font-size: 1rem;
      line-height: 1.45;
      color: $mainBack;
      transition: background-color 0.3s ease-in;
  
      &:hover {
        background-color: #000;
      }
    }

    .select {
      width: 100%;
      margin-bottom: 0.625rem;
      &:first-child {
        padding-right: 0;
      }
    }
  }

  .catalog {

    &__selects {
      display: none;

      &_mobile {
        display: flex;
        margin-top: 1.25rem;
        width: 100%;
        border: 1px solid $grayBack;
        padding: 0.9375rem 1.25rem;
      }
    }

    .selects {
      &__image {
        border-radius: 0.9375rem;
        background-color: hsla(0,0%,76.9%, 0.2);
        width: 1.75rem;
        height: 1.75rem; 

        svg {
          padding-top: 0.3125rem;
          padding-left: 0.3125rem;
        }
      }

      &__title {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &::before {
          transform: translate(-1/3px, 0%) rotate(0deg);
        }

        &::after {
          transform: translate(1/3px, 0%) rotate(0deg);
        }
      }  
    }
  }
}
