@import './rootStyles/main.scss';
@import './rootStyles/mixins.scss';
@import './commonStyle.scss';
@import './header.scss';

body#root {
  background-color: $graySmall;
}

.intro {
  margin: 0;
  width: 100%;
  height: 100%;
  // height: 43.75rem;
  position: relative;
  background-color: $mainColor;
  padding: 0 1.875rem;

  &__image {
    position: relative;
    margin-top: 3.5625rem;
    left: 0;
    max-width: 78.3125rem;
    max-height: 37.5625rem;
    object-fit: cover;
  }

  &__info {
    // max-height: 55.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    margin-top: 3.625rem;
  }

  &__title {
    justify-content: center;
  }

  &__text {
    max-width: 32.5rem;
    justify-content: center;
    color: $mainBack;
    opacity: 0.8;
    text-align: center;
    margin-top: 1.25rem;
  }

  &__video {
    position: relative;
    margin-top: 3.5625rem;
    width: 78.3125rem;
    height: 37.5625rem;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__poster {
    position: relative;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    position: absolute;
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $grayMain;

    svg {
      height: 100%;
    }
  }
}

.quote {
  margin-top: 3.5rem;
  // border-bottom: 1px solid #a8a8a8;

  &__border {
    margin-top: 7.75rem;
    height: 1px;
    width: 100%;
    background-color: $grayLight;
  }

  &__container {
    max-width: 75%;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }

  &__icon {
    width: 3.5rem;
    height: 2.9375rem;
    // position: absolute;
    top: -1.5rem;
    left: 2%;

    svg {
      height: auto;
      width: 100%;
    }
  }

  &__icon__second {
    width: 3.5rem;
    height: 2.9375rem;
    position: absolute;
    bottom: -1.2rem;
    left: 93%;

    svg {
      height: auto;
      width: 100%;
    }
  }
}

.development {
  &__container {
    display: flex;
    margin-top: 4.125rem;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    box-shadow: 4.25rem 4.4375rem 0px -1.25rem $grayBack;
    width: 38.9375rem;
    height: 22rem;
  }

  &__text {
    margin-top: 1.25rem;
    max-width: 30.3125rem;
    color: $grayMid;
  }

  &__title {
    text-align: left;
    position: relative;
  }

  &__info {
    max-width: 30.3125rem;
  }
}

.production {
  margin-top: 9.8125rem;

  &__title {
    text-align: center;
  }

  &__video {
    background-color: #000;
    margin-top: 3.75rem;
    height: 40.9375rem;
    max-width: 84.125rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: 7rem;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    position: relative;
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $grayMain;

    svg {
      height: 100%;
    }
  }

  &__frame {
    width: 100%;
    height: 100%;
  }
}

.image {
  margin-top: 7.5rem;

  &__svg {
    &_1 {
      margin-right: 7.8125rem;
      svg {
        max-width: 30.5625rem;
        max-height: 5.4375rem;
      }
    }

    &_2 {
      margin-right: 7.8125rem;
      svg {
        max-width: 30.5625rem;
        max-height: 5.4375rem;
      }
    }

    &_3 {
      svg {
        max-width: 30.5625rem;
        max-height: 5.4375rem;
      }
    }
  }

  &__logo {
    display: flex;
    margin-left: -5rem;
  }
}

.production-block {
  margin-top: 10.5rem;

  &__title {
    position: relative;
    margin-top: 1.25rem;
    text-align: left;
  }

  &__text {
    &_left {
      margin-top: 1.25rem;
      max-width: 28.5rem;
      color: $grayMid;
    }

    &_right {
      margin-top: 1.25rem;
      max-width: 36rem;
      color: $grayMid;
    }
  }

  &__list {
    display: flex;
    margin-top: 8.75rem;
    justify-content: space-between;

    &_left {
      display: grid;
      align-items: center;
      align-content: center;
      max-width: 34.8125rem;
    }

    &_right {
      display: grid;
      align-items: center;
      align-content: center;
    }

    &_row:first-child {
      margin-bottom: 11.0625rem;
    }
  }

  &__image {
    position: relative;

    &_left {
      box-shadow: -5.875rem -3.125rem 0px 0px $grayBack;
      max-width: 29rem;
      max-height: 20.125rem;
    }
    &_right {
      box-shadow: 4.5rem -4.9375rem 0px -1.125rem $grayBack;
      max-width: 39.125rem;
      max-height: 26.125rem;
    }
  }
}

.cooperation {
  margin: 0;
  width: 100%;
  max-height: 27rem;
  position: relative;
  margin-top: 9.5rem;

  &__info {
    max-height: 23.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    flex-direction: row;
    background-color: $grayBack;
    margin-bottom: 6.25rem;

    &_text {
      display: flex;
      flex-direction: column;
      margin-top: 2.9375rem;
      margin-bottom: 3.125rem;
    }

    &_image {
      margin-top: -4.125rem;
      max-height: 24.125rem;
      max-width: 38.9375rem;
    }
  }

  &__title {
    color: $mainColor;
    max-width: 19.375rem;
    margin-bottom: 1.0625rem;
  }

  &__text {
    max-width: 35.875rem;
    color: $grayMid;
  }

  &__button {
    background-color: $mainColor;
    max-width: 15.625rem;
    margin-top: 1.125rem;
    color: $mainBack;
    font-size: 1rem;
    transition: background-color 0.3s ease-in;
    @extend %buttonOutlined;

    &:hover {
      background-color: #000;
    }
  }
}

.contacts {
  &__main {
    width: 16.8125rem;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__text {
    font-family: Inter;
    color: $grayMid;
  }

  &__phone {
    margin: 1.375rem 0 0.8125rem;
    font-size: 1.75rem;
    line-height: 1.29;
  }

  &__other {
    margin-top: 3.125rem;
    display: flex;
  }
}

.contact {
  width: calc((100% - 1.25rem) / 3);
  border: 1px solid #d3d3d3;
  text-align: center;
  padding: 1.875rem 0;

  &:nth-child(3n + 2) {
    margin: 0 0.625rem;
  }

  &__title {
    font-weight: 500;
  }
  &__position {
    display: block;
    margin: 1.25rem 0 0.625rem;
    color: $grayMid;
    opacity: 0.7;
  }
  &__person {
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.62;
    color: $grayMain;
  }
  &__text {
    display: block;
    margin: 1.25rem 0 0.625rem;
    color: $grayMid;
    opacity: 0.7;
  }

  &__phone {
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.62;
    text-align: center;
    text-decoration-line: underline;
    color: $grayMain;
  }

  &__image {
    margin: 3.75rem auto 0;
    height: 7.5rem;
    width: 7.5rem;
    position: relative;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .intro {
    max-height: 37.1875rem;

    &__poster {
      margin-left: -60vw;
      width: 160vw;
      height: 21.3125rem;
      margin-top: 0;
    }

    &__video {
      height: 21.3125rem;
    }

    &__image > div {
      width: 100vw;
      margin-left: -100%;
    }

    &__image &__picture {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }

    &__picture {
      object-position: 5rem 0;
    }

    &__info {
      margin-left: 0;
    }

    &__title {
      justify-content: center;

      svg {
        max-width: 12.6875rem;
        max-height: 2.75rem;
      }
    }

    &__text {
      color: $grayBack;
      margin-top: 1.5625rem;
      max-width: 21.1875rem;
    }
  }

  .menu {
    height: 5.0625rem;

    &__where {
      display: none;
    }

    &__inst {
      display: none;
    }

    &__block {
      &:nth-child(2) {
        display: none;
      }
    }

    &__catalog {
      display: none;
    }
    &__phone {
      display: none;
    }
    &__text {
      display: none;
    }
    &__logo {
      width: 6.25rem;
      margin: 0;
    }
    &__openCatalog {
      margin: 0;
    }
  }

  .quote {
    margin-top: 150px;
    margin-bottom: 0;

    &__border {
      margin-top: 3.125rem;
      height: 1px;
      width: 100%;
      background-color: $grayLight;
    }

    &__title {
      max-width: 95%;
      text-align: center;
      margin: 0 auto;
      position: relative;
      font-size: 1.125rem;
    }

    &__icon {
      width: 1.75rem;
      height: 1.5rem;
      position: absolute;
      top: -0.875rem;
      left: -3%;

      svg {
        height: auto;
        width: 100%;
      }
    }

    &__icon__second {
      width: 1.75rem;
      height: 1.5rem;
      position: absolute;
      bottom: -0.3125rem;
      left: 97%;

      svg {
        height: auto;
        width: 100%;
      }
    }
  }

  .development {
    &__container {
      margin-bottom: 3.125rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__text {
      margin-top: 0.9375rem;
    }

    &__image {
      margin-top: 3.125rem;
      width: inherit;
      height: inherit;
      box-shadow: 2.575rem 2.9375rem 0px -1.25rem $grayBack;
      max-width: 39.125rem;
      max-height: 22.075rem;
      display: flex;
    }
  }

  .production {
    margin-top: 3.6875rem;
    // margin-top: 9.6875rem;

    &__video {
      margin-top: 1.875rem;
      height: 70vw;
      width: 100%;
      margin-left: 0;
    }
    &__button {
      width: 3.75rem;
      height: 3.75rem;

      svg {
        height: 1rem;
      }
    }
  }

  .image {
    margin-top: 2.5rem;
    // margin-top: 7.5rem;

    &__svg {
      &_1 {
        margin-right: 1.6875rem;
        svg {
          width: 15.0625rem;
          height: 2.6875rem;
        }
      }

      &_2 {
        margin-right: 1.6875rem;
        svg {
          width: 15.0625rem;
          height: 2.6875rem;
        }
      }

      &_3 {
        svg {
          width: 15.0625rem;
          height: 2.6875rem;
        }
      }
    }

    &__logo {
      display: flex;
      justify-content: center;
    }
  }

  .production-block {
    margin-top: 1.9375rem;
    // margin-top: 5.9375rem;

    &__title {
      font-size: 1.5rem;
      max-width: 18.75rem;
      margin: 0;
      margin-top: 20px;

      &_4 {
        margin-top: 1.1875rem;
      }
    }

    &__picture {
      max-height: 18.125rem;
    }

    &__text {
      margin-top: 0.625rem;
      color: $grayMidText;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__list {
      display: block;
      margin-top: 3.75rem;
      z-index: 1;
      // z-index: 3;

      &__row {
        margin-bottom: 50px;
      }

      &_left {
        margin: 0;
        z-index: 1;
        // z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // height: 79.8125rem;
      }

      &_right {
        //margin-top: 27.0625rem;
        position: relative;
        z-index: 1;
        max-width: 34.8125rem;
      }
    }

    &__image {
      &_left {
        box-shadow: -1.9375rem -2.875rem 0px -0.8125rem $grayBack;
      }
      &_right {
        box-shadow: 2.9375rem -3.8125rem 0px -1.875rem $grayBack;
        max-width: 29rem;
        max-height: 18.125rem;
      }
    }
  }
  .production-block__list_row:first-child{
    margin-bottom: 6.0625rem;
  }
  .production-block__list_row{
    margin-bottom: 6.0625rem;
  }
  .production-block__text_right{
    max-width: 28.5rem;
  }

  .cooperation {
    margin-bottom: 5.3125rem;
    // margin-bottom: 15.3125rem;
    margin-top: 0;
    max-height: none;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 0;
      line-height: 1.9375rem;
    }

    &__text {
      max-width: 17.875rem;
      margin-top: 0.625rem;
    }

    &__info {
      flex-direction: column;
      margin-left: -1.25rem;
      width: 110%;
      max-height: inherit;
      // max-height: 31.5625rem;
      display: flex;
      justify-content: flex-start;

      &_text {
        margin-left: 2.375rem;
      }

      &_image {
        margin-top: 3.125rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
      }
    }

    &__button {
      margin-top: 2.5rem;
    }
  }

  .contacts {

    &__title {
      margin-bottom: 1.875rem;
    }
    &__text {
      font-size: 0.875rem;
      line-height: 1.43;
    }
    &__phone {
      font-size: 1.125rem;
      line-height: 1.4;
      display: block;
      margin: 1.25rem 0 0.625rem;
    }
    &__other {
      display: block;
    }
  }

  .contact {
    width: 100%;
    margin-bottom: 1.25rem;

    &:nth-child(2) {
      margin: 0 0 1.25rem;
    }
    &__position {
      margin: 1.325rem 0 0.625rem;
      // margin: 5.625rem 0 0.625rem;
      font-size: 0.875rem;
      line-height: 1.43;
    }
    &__person,
    &__phone {
      font-size: 0.875rem;
      line-height: 1.43;
      text-decoration: none;
    }
  }

  .map {
    display: none;
  }
}
