@import "./rootStyles/main.scss";
@import "./rootStyles/mixins.scss";
@import "./commonStyle.scss";
@import "./header.scss";

body#root{
  background-color: $graySmall;
}

.intro {
  margin: 0;
  width: 100%;
  position: relative;
  padding: 0 1.875rem;
  
}

.documents {

  &__title {
    text-align: center;
    margin-bottom: 0;
  }
  
  &__selects {
    display: none;
  }

  &__container {
    display: flex;
    margin-top: 7.5rem;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__tabs {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }

  &__info {
    margin-top: 1.125rem;
  }

  &__content {
    display: grid;
    margin-top: 2.5rem;
  }

  &__picture {
    object-fit: cover;
    height: inherit;
    object-position: left bottom;
  }

  &__image {
    box-shadow: 5.8125rem -3.125rem 0px 0px $grayBack;
    margin: 3.125rem 0px 0px 0px;
    width: 38.75rem;
    height: 24.125rem;
  }

  &__text{
    margin-top: 0.5rem;
    max-width: 29.1875rem;
  }

  .tab {
    display: flex;
    margin-top: 3.125rem;

    &__content{
      display: none;
      flex-wrap: wrap;
    }
    
    &__content.active {
      display: flex;
      //flex-wrap: wrap;
    }
    
    &__links {
      text-align: center;
      justify-content: center;
      max-width: 28.6875rem;
      max-height: 4.5625rem;

      &:hover,
      &.active {
        display: flex;
        align-items: center;
      }
    }
  }
}

.document {
  height: 26.875rem;
  width: calc((100% - 2.5rem) / 4);
  position: relative;
  padding: 1.875rem 2.5rem;
  border: 1px solid hsla(210,2.9%,13.3%, .2);
  

  &:nth-child(2) {
    margin: 0 0.75rem;
  }
  &:nth-child(4) {
    margin-left: 0.75rem;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $grayBack;
    width: 100%;

    &_white {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 12.0625rem;
      background-color: $mainBack;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 16.25rem;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin-top: 1.25rem;
    color: #4F4F4F;
    position: relative;
    p {
      text-align: center;
    }
  }

  &__title {
    text-align: center;
    margin-top: 2.1875rem;
    color: $grayMain;
    position: relative;
  }

  &__collection {
    font-size: 1rem;
    color: $grayMid;
    position: relative;
  }

  &__colors {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__color {
    object-fit: cover;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    margin-right: 0.625rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    margin-top: 1.25rem;
    border-bottom: 1px solid $grayMain;
    font-size: 1rem;
    color: $grayMain;
  }
}

.modalDocument {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  animation-name: appear;
  animation-duration: 300ms;

  &__active {
    display: flex;
  }

  &__button_close {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.25rem;
    margin-right: 1.25rem;
  }

  &__content {
    width: 38.8125rem;
    height: 50rem;
    background-color: $mainBack;
    
    position: relative;
    animation-name: slide-in;
    animation-duration: 0.7s;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4.0625rem;
    margin-top: -1.5625rem;

  }
  &__text{
    max-width: 21.5625rem;
    margin-top: 1.25rem;
    text-align: center;
  }

  &__close {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $grayBack;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 0.5625rem);
      width: 1.125rem;
      height: 2px;
      background-color: $grayMain;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__document {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  &__picture{
    height: 46rem;
    position: relative;
    width: 30.8125rem;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {


  .menu {
    height: 5.0625rem;

    &__where {
      display: none;
    }

    &__inst {
      display: none;
    }

    &__block {
      
      &:nth-child(2) {
        display: none;
       
      }
    }

    &__catalog {
      display: none;
    }
    &__phone {
      display: none;
    }
    &__text {
      display: none;
    }
    &__logo {
      width: 6.25rem;
      margin: 0;
    }
    &__openCatalog {
      margin: 0;
    }
  }

  .documents {

    margin-top: 3.125rem;

    .tab {
      display: none;

      &__content.active {
        //display: block;
        margin-bottom:  1.875rem;
        flex-direction: column;
        flex-wrap:none;
        //height:inherit;
      }
    }
    &__selects {
      margin-top: 3.125rem;
      display: flex;
      justify-content: space-between;
      width:100%;
    }
    
    .select {
      width: 100%;
      &__title {
        border: 1px solid  hsla(0, 0%, 40%, 0.2);
        color: $grayMid;
      }
    }
  }

  .document {
    display: block;
    
    width: 100%;

    &:nth-child(n) {
      margin:  0 0 1.25rem 0;
    }
   
  }
  .modalDocument__content{
    display: flex;
    flex-direction: column;
  }
  .modalDocument__intro{
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .modalDocument__document{
    height: 100%;
    padding: 0;
    width: 100%;
    img{
      height: 90%;
      width: 100%;
    }
  }
}
