@import './rootStyles/main.scss';
@import './rootStyles/mixins.scss';
@import './commonStyle.scss';
@import './header.scss';

body#root {
  background-color: $graySmall;
}

.intro {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 1.875rem;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    margin-left: 5.9375rem;
    height: calc(100% - 6.25rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__title {
    color: $mainBack;

    font-size: 2.882rem;
    line-height: 1.5;
    max-width: 39rem;
    // max-width: 37rem;
    // font-size: 3.875rem;
    // line-height: 1.25;
  }

  &__button {
    background-color: $grayMain;
    width: 13.75rem;
    margin-top: 3.75rem;
    padding: 1.125rem 0;
    font-size: 16px;
    line-height: 1.45;
    color: $mainBack;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: #000;
    }
  }
}

.socials {
  &__box {
    display: flex;

    padding: 40px 60px;

    background: #e3e3e3 url('../img/bcg_telegram.png') no-repeat 52% 50%;
    background-size: 146px;
  }

  &__info {
    display: flex;
    flex-direction: column;

    width: 35%;
  }

  &__title {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 30px;
  }

  &__text {
    margin-bottom: 50px;
  }

  &__button {
    background-color: $grayMain;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.75rem;
    margin-top: 3.75rem;
    padding: 1.125rem 0;
    font-size: 16px;
    line-height: 1.45;
    color: $mainBack;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: #000;
    }
  }

  &__img {
    height: 410px;
    max-width: 270px;
    position: absolute;
    right: 11%;
    bottom: 0%;
  }
}

.quote {
  padding: 4.875rem 0 0;

  &__border {
    margin-top: 6.25rem;
    height: 1px;
    width: 100%;
    background-color: $grayLight;
  }

  &__title {
    max-width: 55%;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }

  &__icon {
    width: 3.5rem;
    height: 2.9375rem;
    position: absolute;
    top: -1.5rem;
    left: 22%;

    svg {
      height: auto;
      width: 100%;
    }
  }

  &__icon__second {
    width: 3.5rem;
    height: 2.9375rem;
    position: absolute;
    bottom: 5rem;
    left: 74%;

    svg {
      height: auto;
      width: 100%;
    }
  }
}

.catalog {
  margin-top: 3.1875rem;

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    margin-top: 3.75rem;
  }
}

.ideas {
  &__title {
    text-align: center;
  }

  &__list {
    margin-top: 3.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    cursor: pointer;
    width: calc((100% - 10px) / 2);
    margin-bottom: 0.625rem;
    position: relative;

    &:last-child {
      width: 100%;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
  }

  &__info {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &__text {
    color: $mainBack;
  }

  &__number {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid $mainBack;
    position: absolute;
    bottom: 1.875rem;
    left: calc(50% - 1.25rem);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 1rem;
      line-height: 1.45;
      color: $mainBack;
    }
  }
}

.news {
  &__title {
    text-align: center;
  }
  &__button {
    margin: 3.125rem auto 0;
    border: 1px solid $grayMain;
    font-size: 1rem;
    line-height: 1.45;
    color: $grayMain;
    padding: 1.125rem 3rem;
    display: block;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;

    &:hover {
      background-color: $grayMain;
      color: $mainBack;
    }
  }
}

.posts {
  margin-top: 3.125rem;
}

.post {
  display: flex;
  justify-content: space-between;
  padding: 3.125rem 0;
  border-bottom: 1px solid #cccccc;

  &__theme {
    min-width: 19.75rem;
  }

  &__text,
  &__date,
  &__description {
    color: $grayMid;
  }

  &__description {
    font-family: Inter;
  }

  &__date {
    &_mobile {
      display: none;
      color: $grayMid;
    }
  }

  &__info {
    margin-right: 5.9375rem;
    position: relative;
  }
  &__title {
    margin-bottom: 1.25rem;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
  }

  &__image {
    min-width: 25.625rem;
    height: 15rem;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__more {
    font-size: 1rem;
    line-height: 145%;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: $grayMain;
    position: absolute;
    left: 0;
    bottom: 0;
    color: $mainColor;
  }
}

.production {
  &__title {
    text-align: center;
  }

  &__video {
    background-color: #000;
    margin-top: 3.75rem;
    height: 48.125rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    position: relative;
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $grayMain;

    svg {
      height: 100%;
    }
  }

  &__frame {
    width: 100%;
    height: 100%;
  }
}

.instagram {
  &__title {
    text-align: center;
  }

  &__list {
    margin-top: 3.75rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.postInst {
  width: calc((100% - 1.25rem) / 3);

  &:nth-child(3n + 2) {
    margin: 0 0.625rem;
  }

  &__image {
    height: 26.3125rem;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-top: 1.25rem;
    max-width: 80%;
    font-family: Inter;
    color: $grayMid;
  }
}

.contacts {
  &__main {
    width: 16.8125rem;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__text {
    font-family: Inter;
    color: $grayMid;
  }

  &__phone {
    margin: 1.375rem 0 0.8125rem;
    font-size: 1.75rem;
    line-height: 1.29;
  }

  &__other {
    margin-top: 3.125rem;
    display: flex;
  }
}

.contact {
  width: calc((100% - 1.25rem) / 3);
  border: 1px solid #d3d3d3;
  text-align: center;
  padding: 1.875rem 0;

  &:nth-child(3n + 2) {
    margin: 0 0.625rem;
  }

  &__title {
    font-weight: 500;
  }
  &__position {
    display: block;
    margin: 1.25rem 0 0.625rem;
    color: $grayMid;
    opacity: 0.7;
  }
  &__person {
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.62;
    color: $grayMain;
  }
  &__text {
    display: block;
    margin: 1.25rem 0 0.625rem;
    color: $grayMid;
    opacity: 0.7;
  }

  &__phone {
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.62;
    text-align: center;
    text-decoration-line: underline;
    color: $grayMain;
  }

  &__image {
    margin: 3.75rem auto 0;
    height: 7.5rem;
    width: 7.5rem;
    position: relative;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .intro {
    &__image {
      object-position: right;
    }
    &__info {
      margin-left: 0;
      justify-content: center;
    }
    &__title {
      font-size: 1.75rem;
      line-height: 1.29;
      max-width: 50%;
    }
    &__button {
      margin-top: 2.5rem;
      margin-bottom: 10.875rem;
    }
  }

  .socials {
    &__box {
      padding: 30px 15px;
      padding-bottom: 0;

      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      background-image: none;
    }

    &__info {
      width: 100%;
      align-items: center;
      justify-content: center;

      margin-bottom: 50px;
    }

    &__button {
      width: 250px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 24px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__img {
      position: relative;
      right: 0;
    }
  }

  .menu {
    height: 5.0625rem;

    &__block {
      &:nth-child(2) {
        display: none;
      }
    }
    &__catalog {
      display: none;
    }
    &__phone {
      display: none;
    }
    &__where {
      display: none !important;
    }

    &__inst {
      display: none !important;
    }
    &__text {
      display: none;
    }
    &__logo {
      width: 6.25rem;
      margin: 0;
    }
    &__openCatalog {
      margin: 0;
    }
  }

  .quote {
    padding: 3.125rem 0 0;
    margin-bottom: 0;
    &__title {
      font-size: 1.125rem;
      line-height: 1.4;
      max-width: 100%;
      margin: 0;
    }
    &__icon {
      position: relative;
      width: 1.5rem;
      height: 1.25rem;
      top: 0.5rem;
      left: -2%;

      svg {
        height: 100%;
      }
    }

    &__icon__second {
      position: relative;
      width: 1.5rem;
      height: 1.25rem;
      bottom: 0.75rem;
      left: 95%;

      svg {
        height: 100%;
      }
    }

    &__border {
      margin-top: 0;
      border-bottom: 1px solid $graySmall;
    }
  }

  section {
    margin-top: 3.75rem;
  }

  .catalog {
    margin-top: 2.8125rem;
    &__list {
      display: block;
      margin-top: 2.5rem;
    }
  }
  .product {
    width: 100%;
    display: block;
    margin-bottom: 1.6875rem;

    &:nth-child(2) {
      margin: 3.875rem 0 0;
    }
    &:last-child {
      margin: 0;
    }
  }

  .ideas {
    &__list {
      margin-top: 2.5rem;
      display: block;
    }
    &__item {
      width: 100%;
      height: 70vw;
    }
  }

  .news {
    &__button {
      // display: none;
    }
  }
  .posts {
    margin-top: 1.875rem;
  }
  .post:nth-child(2) {
    display: none;
  }
  .post:nth-child(3) {
    display: none;
  }

  .post {
    flex-direction: column;
    padding: 1.875rem 0;

    &:first-child {
      border-top: 1px solid #ccc;
    }

    &__info {
      margin: 0;
      order: 1;
    }

    &__theme {
      display: flex;
      justify-content: space-between;
    }

    &__date {
      display: none;

      &_mobile {
        display: none;
        // display: block;
        font-size: 0.875rem;
        line-height: 1.5;
        letter-spacing: 0.035em;
      }
    }

    &__image {
      min-width: 100%;
      margin-top: 1rem;
    }
    &__title {
      margin: 1.25rem 0;
    }
    &__text {
      font-size: 0.875rem;
      line-height: 1.5;
      letter-spacing: 0.035em;
    }
    &__description {
      font-size: 0.875rem;
      line-height: 1.43;
    }
    &__more {
      margin-top: 2.5rem;
      position: relative;
      display: block;
    }
  }
  .production {
    &__video {
      margin-top: 1.875rem;
      height: 70vw;
      width: 100%;
    }
    &__button {
      width: 3.75rem;
      height: 3.75rem;

      svg {
        height: 1rem;
      }
    }
  }
  .instagram {
    &__list {
      display: block;
      margin-top: 1.875rem;
    }
  }
  .postInst {
    display: block;
    width: 100%;
    margin-bottom: 1.875rem;

    &:nth-child(2) {
      margin: 0 0 1.875rem;
    }
    &:last-child {
      margin: 0;
    }

    &__image {
      height: 90vw;
    }

    &__text {
      max-width: 100%;
    }
  }
  .contacts {
    &__title {
      margin-bottom: 1.875rem;
    }
    &__text {
      font-size: 0.875rem;
      line-height: 1.43;
    }
    &__phone {
      font-size: 1.125rem;
      line-height: 1.4;
      display: block;
      margin: 1.25rem 0 0.625rem;
    }
    &__other {
      display: block;
    }
  }
  .contact {
    width: 100%;
    margin-bottom: 1.25rem;

    &:nth-child(2) {
      margin: 0 0 1.25rem;
    }
    &__position {
      margin: 0.625rem 0 0.625rem;
      font-size: 0.875rem;
      line-height: 1.43;
    }
    &__person,
    &__phone {
      font-size: 0.875rem;
      line-height: 1.43;
      text-decoration: none;
    }
  }
}

.city-slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal {
  &__more {
    gap: 20px;
    justify-content: flex-start;
    margin-top: 0;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    margin-bottom: 10px;
  }
  &__buttons {
    display: flex;
  }
  &__date {
    color: #212223;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 42%;
    gap: 5px;
  }
  .owl-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: transparent !important;
    border: 1px solid #ffffff !important;
  }
  .owl-dot.active {
    background: #fff !important;
  }
}
