@import "./rootStyles/main.scss";
@import "./rootStyles/mixins.scss";
@import "../scss/index.scss";
@import '../scss/header.scss';

body#root{
  background-color: $graySmall;
}

.news {
  &__sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .select {
    margin: 0;
    width: 300px;
  }

  &__count {
    font-weight: 500;
  }

  .post {
    &:first-child {
      border-top: 1px solid #cccccc;
    }
  }
}
