@import './rootStyles/main.scss';
@import './rootStyles/mixins.scss';
@import './commonStyle.scss';
@import './header.scss';

body#root {
  background-color: $graySmall;
}

.intro {
  margin: 0;
  width: 100%;
  height: 100%;
  // height: 43.75rem;
  position: relative;
  padding: 0 1.875rem;

  &__image {
    left: 0;
    max-width: 38.75rem;
    max-height: 45rem;
    object-fit: cover;
  }

  &__info {
    // max-height: 55.75rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 3.75rem;
  }

  &__title {
    justify-content: center;
    color: #212223;
  }

  h4 {
    margin-top: 1.875rem;
  }

  h3 {
    margin-top: 3.125rem;
  }

  &__text {
    max-width: 29.9375rem;
    justify-content: center;
    text-align: left;
    margin-top: 4.625rem;
    margin-inline-end: 10rem;

    &_content {
      margin-top: 1.875rem;
      color: $grayMid;
      margin-bottom: 20px;
      @extend %scrollbar;
    }

    &_date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #c4c4c4;
    }

    &_date-content {
      color: $grayMid;
    }

    &_dimensions {
      display: flex;
      margin-top: 3.125rem;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #c4c4c4;
      border-top: 1px solid #c4c4c4;
    }

    &_dimensions-content {
      color: $grayMid;
      margin-left: 10px;
    }

    &_discription {
      color: $grayMid;
      margin-top: 0.625rem;
      @extend%discription;
    }
  }
}

.configurator {
  display: none;
  margin-top: 17.3125rem;

  &__list {
    margin-top: 3.75rem;
  }
}

.variants {
  &__controls {
    display: flex;
    justify-content: flex-end;
  }

  &__number {
    margin-top: 0.75rem;
    margin-right: 1.25rem;
    color: $grayMid;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.6875rem;

    &_slide {
      display: flex;
    }
  }

  &__slider {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;

    &_wrapper {
      overflow: hidden;
    }

    &_items {
      display: flex;
      align-items: center;
      transition: transform 0.5s ease-in-out;
    }

    &_item {
      display: block;
      max-height: 32.6875rem;
      max-width: 27.8125rem;
      color: rgba(255, 255, 255, 0.8);
      background-color: $grayBack;
      padding-bottom: 26.5625rem;
    }
  }
}

.details {
  margin-top: 6.25rem;

  &__container {
    display: flex;
    margin-top: 3.125rem;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  h3 {
    text-align: center;
  }

  &__info {
    &_constructive {
      margin: 0.625rem 0 0 2.5rem;
      display: flex;
      flex-direction: column;

      position: relative;

      h4 {
        margin-top: 1.875rem;
      }
    }

    &_service p {
      margin-top: 1.25rem;

      &:nth-child(1) {
        margin-right: 8.375rem;
      }

      &:nth-child(2) {
        margin-right: 8.375rem;
      }
    }
  }

  &__picture {
    object-fit: cover;
    height: inherit;
    object-position: left bottom;

    &_benefit {
      max-height: 24rem;
    }
  }

  &__benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  &__card {
    background-color: #e3e3e3;
    margin-bottom: 20px;

    &_info {
      padding: 20px;
    }

    &__img {
      margin-bottom: 15px;
    }

    &_title {
      margin-bottom: 15px;
    }
  }

  &__image {
    &_dimensions {
      margin: 0;
      max-width: 83.75rem;
      max-height: 34.75rem;
    }

    &_constructive {
      margin: 0;
      max-width: 19.125rem;
      max-height: 45.6875rem;
      margin-right: 9.625rem;

      position: relative;
    }

    &_left {
      box-shadow: -3.875rem -3.125rem 0px 0px #e3e3e3;
      max-width: 38.625rem;
      max-height: 24rem;
    }

    &_right {
      box-shadow: 4.5rem -4.9375rem 0px -1.125rem #e3e3e3;
      max-width: 28.625rem;
      max-height: 37.625rem;
    }

    &_number {
      border: 1px solid $grayMid;
      border-radius: 0.9375rem;
      width: 1.875rem;
      height: 1.875rem;
      padding: 0.1875rem 0 0.1875rem 0.3125rem;
      position: absolute;
      background-color: $mainBack;
    }
  }

  &__text {
    margin-top: 1.25rem;

    &_service {
      max-width: 40.0625rem;
    }

    &_left {
      margin-top: 0.625rem;
      max-width: 36rem;
    }

    &_right {
      margin-top: 0.625rem;
      max-width: 26.1875rem;
    }
  }

  &__Accordion {
    width: 100%;

    &:nth-child(1) {
      border-top: 1px solid #c4c4c4;
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.0625rem;
    border-bottom: 1px solid #c4c4c4;
  }

  &__information {
    display: block;
    margin-top: 3.125rem;
    padding-bottom: 3.75rem;
    border-bottom: 1px solid #c4c4c4;
    tr{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    td{
      width: 31%;
    }
  }

  .plus {
    &__vertical,
    &__horizontal {
      background-color: black;
    }
  }

  &__mainItems {
    &_constructive {
      display: flex;
      justify-content: space-between;
      background-color: $grayBack;
      padding-bottom: 45px;
    }

    &_benefits {
      display: flex;
      justify-content: space-between;
      padding-top: 3.125rem;
    }

    &_service {
      display: flex;
    }
  }

  &__title {
    text-align: center;

    &_benefits {
      position: relative;
      margin-top: 1.25rem;
      text-align: left;
      max-width: 22.1875rem;
    }
  }

  &__list {
    display: flex;
    margin-top: 8.75rem;
    justify-content: space-between;

    &_left {
      display: grid;
      align-items: center;
      align-content: center;
      max-width: 34.8125rem;
    }

    &_right {
      display: grid;
      align-items: center;
      align-content: center;
    }

    &_row:first-child {
      margin-bottom: 7.9375rem;
    }
  }

  &__tooltip {
    position: relative;
    display: inline-block;
    opacity: 0.6;
  }

  &__tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 14.625rem;
    color: $mainColor;
    text-align: center;
    border-radius: 0.375rem;
    padding: 0.3125rem 0;
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s;
  }

  &__tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.3125rem;
    border: 5px;
    border-style: solid;
    border-color: $grayMid transparent transparent transparent;
  }

  &__tooltiptext.active {
    background-color: $mainBack;
    border: 1px solid $grayMid;
    visibility: visible;
    opacity: 1;
  }
}

.ideas {
  &__controls {
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 1.5625rem;
  }

  &__number {
    margin-right: 1.25rem;
  }

  h4 {
    margin-top: 1.25rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.6875rem;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    &_slide {
      display: flex;
      align-items: center;
    }
  }

  &__projects {
    margin-right: 4.0625rem;
    text-decoration: underline;
  }

  &__slider {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;

    &_wrapper {
      overflow: hidden;
    }

    &_items {
      display: flex;
      align-items: center;
      transition: transform 0.5s ease-in-out;
    }

    &_item {
      display: block;
      max-height: 15.625rem;
      max-width: 38.625rem;
      color: rgba(255, 255, 255, 0.8);
      padding-bottom: 26.5625rem;
    }
  }
}

.doors {
  &__controls {
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 1.5625rem;
  }

  h4 {
    margin-top: 1.25rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.875rem;

    &_slide {
      display: flex;
    }
  }

  &__slider {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;

    &_wrapper {
      overflow: hidden;
    }

    &_items {
      display: flex;
      align-items: center;
      transition: transform 0.5s ease-in-out;
    }

    &_item {
      display: block;
      height: auto;
      max-width: 38.625rem;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__number {
    display: none;
  }

  .product {
    width: 100%;

    &__info {
      display: flex;
    }

    &__text {
      color: $grayMid;
      position: relative;
    }
  }
}

@media (max-width: 768px) {
  .intro {
    .wrapper {
      width: 100%;
    }

    &__image {
      margin-left: 0;
      // margin-left: -1.25rem;
      width: 100%;
      max-width: 100vw;
      max-height: 100%;
      order: 0;
    }

    &__picture {
      object-fit: cover;
      margin-left: 0;
      // margin-left: -1.875rem;
    }

    &__info {
      margin-left: 0;
      display: flex;
      flex-direction: column;
    }

    h3 {
      margin-top: 1.25rem;
    }

    h4 {
      margin-top: 1.25rem;
    }

    &__text {
      order: 1;
      margin-top: 1.875rem;
      margin-inline-end: 0;

      &_content {
        color: $mainColor;
        opacity: 0.8;
        margin-top: 1.25rem;
      }

      &_dimensions {
        margin-top: 1.875rem;
      }

      &_dimensions-content {
        margin-left: 1.25rem;
      }

      &_date-content {
        margin-left: 1.25rem;
      }
    }

    &__button {
      margin-top: 1.875rem;
    }
  }

  .menu {
    height: 5.0625rem;

    &__where {
      display: none !important;
    }

    &__inst {
      display: none !important;
    }

    &__block {
      &:nth-child(2) {
        display: none;
      }
    }

    &__catalog {
      display: none;
    }

    &__phone {
      display: none;
    }

    &__text {
      display: none;
    }

    &__logo {
      width: 6.25rem;
      margin: 0;
    }

    &__openCatalog {
      margin: 0;
    }
  }
  .details{
    margin-top: 0;
  }

  .configurator {
    @media (min-width: 621px) {
      margin-top: 114.9%;

      &__container {
        padding-top: -0.75rem;
      }
    }

    @media (max-width: 620px) {
      margin-top: 80%;

      &__container {
        padding-top: 13.75rem;
      }
    }
  }

  .variants {
    margin-top: 4.375rem;

    &__slider {
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      z-index: 1;

      &_wrapper {
        // margin-top: 20vw;
        // position: absolute;
        z-index: 3;
        width: 100%;
        padding-bottom: 1.25rem;
      }

      &_item {
        max-height: 100%;
        padding: 0;
      }
    }

    &__controls {
      padding: 0;
    }

    h4 {
      // max-width: 18.5625rem;
      margin-top: 20px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 2;
      // position: absolute;
      width: 100%;

      &_slide {
        justify-content: space-between;
        // padding-top: 118vw;
      }
    }

    @media (min-width: 461px) {
      &__slider {
        &_wrapper {
          // margin-top: 10vw;
        }
      }

      &__info {
        &_slide {
          // padding-top: 36.25rem;
        }
      }
    }

    @media (min-width: 319px) and (max-width: 460px) {
      &__slider {
        &_wrapper {
          // margin-top: 10vw;
        }
      }

      &__info {
        &_slide {
          // padding-top: 120vw;
        }
      }
    }
  }

  .details {
    .details__information{
      tr{
        gap: 35px;
      }
      td{
        width: 100%;
      }
    }
    @media (min-width: 461px) {
      // margin-top: 50rem;

      .wrapper {
        padding-top: 0;
      }
    }

    @media (max-width: 460px) {
      // margin-top: 103%;

      .wrapper {
        // padding-top: 18.5rem;
      }
    }

    &__title {
      text-align: left;
    }

    &__information {
      padding-bottom: 1.875rem;
    }

    &__benefits {
      grid-template-columns: 1fr 1fr;
    }

    &__mainItems {
      &_constructive {
        display: flex;
        flex-direction: column;
      }

      &_benefits {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 0;
      }

      &_service {
        flex-direction: column;
      }
    }

    &__info {
      &_constructive {
        order: 1;
      }

      &_service {
        p:nth-child(1) {
          margin-right: 0;
        }

        p:nth-child(2) {
          margin-right: 0;
        }

        &:nth-child(2) {
          margin-top: 1.875rem;
        }
      }
    }

    &__list {
      &_row {
        &:not(:first-of-type) {
          div:nth-child(1) {
            box-shadow: 1.675rem -1.875rem 0px -0.675rem #e3e3e3;
          }
        }

        &:first-child {
          margin-bottom: 5rem;
        }
      }

      &_right {
        margin-top: 5rem;
      }
    }

    &__image {
      &_constructive {
        order: 0;
        margin: 0 auto;
      }

      &_left {
        box-shadow: -1.675rem -1.875rem 0px -0.675rem #e3e3e3;
      }

      &_right {
        box-shadow: -4.5rem -1.9375rem 0px -1.125rem #e3e3e3;
      }
    }

    .ideas {
      margin-top: 4.375rem;

      &__projects {
        display: none;
      }

      &__slider {
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        z-index: 1;

        &_wrapper {
          margin-top: 20vw;
          // position: absolute;
          z-index: 3;
          width: 100%;
          border-bottom: 1px solid $grayBorder;
          padding-bottom: 1.25rem;
        }

        &_item {
          max-height: 100%;
          padding: 0;
        }
      }

      &__controls {
        padding: 0;
      }

      h4 {
        // max-width: 18.5625rem;
        margin-top: 20px;
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        // position: absolute;
        width: 100%;

        &_slide {
          justify-content: space-between;
          // padding-top: 90vw;
        }
      }

      @media (min-width: 668px) {
        &__slider {
          &_wrapper {
            // margin-top: 10vw;
          }
        }

        &__info {
          &_slide {
            // padding-top: 31.25rem;
          }
        }
      }

      @media (min-width: 347px) and (max-width: 667px) {
        &__slider {
          &_wrapper {
            // margin-top: 10vw;
          }
        }

        &__info {
          &_slide {
            // padding-top: 77vw;
          }
        }
      }
    }

    .doors {
      margin-top: 64.1%;

      &__number {
        display: flex;
      }

      &__slider {
        // padding-top: 17.0625rem;
        margin-bottom: 0;
        position: relative;
        z-index: 1;

        &_wrapper {
          // margin-top: 12vw;
          // position: absolute;
          z-index: 3;
          width: 100%;

          padding-bottom: 1.25rem;
        }

        &_item {
          max-height: 100%;
          padding: 0;
        }
      }

      &__controls {
        padding: 0;
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        // position: absolute;
        width: 100%;

        &_slide {
          justify-content: space-between;
          align-items: center;
          // padding-top: 36.25rem;
        }
      }

      @media (min-width: 668px) {
        &__slider {
          &_wrapper {
            margin-top: 6vw;
          }
        }

        &__info {
          &_slide {
            // padding-top: 600px;
          }
        }
      }

      @media (min-width: 347px) and (max-width: 667px) {
        &__slider {
          &_wrapper {
            // margin-top: 9vw;
          }
        }

        &__info {
          &_slide {
            // padding-top: 37.1875rem;
          }
        }
      }

      .product {
        &__info {
          align-items: center;
        }
      }
    }

    footer {
      // margin-top: 45.5rem;
    }
  }

  @media (max-width: 460px) {
    .details {
      &__benefits {
        grid-template-columns: 1fr;
      }
    }
  }
}
