@import "./rootStyles/main.scss";
@import "./rootStyles/mixins.scss";



body#designers {
}

.intro {
  margin: 0;
  width: 100%;
  height: 43.75rem;
  position: relative;
  padding: 0 1.875rem;
  
  &__image {
    left: 0;
    max-width: 38.75rem;
    max-height: 45rem;
    object-fit: cover;
  }

  &__info {
    max-height: 55.75rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 3.75rem;
  }

  &__title {
    justify-content: center;
    color: #212223;
  }

  h4 {
    margin-top: 1.25rem;
  }

  h3 {
    margin-top: 2.5rem;
  }

  &__text {
    max-width: 30.875rem;
    justify-content: center;
    color: #212223;
    opacity: 0.8;
    text-align: left;
    margin-top: 4.125rem;
    margin-inline-end: 8.75rem;

    &_content {
      margin-top: 1.375rem;
    }
    &_date {
      display: flex;
      margin-top: 3.125rem;
      justify-content: space-between;
      align-items: center;
      height: 4.625rem;
      border-bottom: 1px solid #C4C4C4;
      border-top: 1px solid #C4C4C4;
    }

    &_discription {
      color: #656565;
      margin-top: 0.625rem;
      @extend%discription
    }
  }
}

.choiceCity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  animation-name: appear;
  animation-duration: 300ms;

  &__active {
    display: flex;
  }

  &__content {
    width: 58.75rem;
    height: 35rem;
    background-color: #fff;
    padding: 2.1875rem 2.5rem 3.125rem;
    position: relative;
    animation-name: slide-in;
    animation-duration: 0.7s;
  }

  &__intro {
    display: flex;
    justify-content: space-between;
  }
  &__close {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #e3e3e3;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 0.5625rem);
      width: 1.125rem;
      height: 2px;
      background-color: $grayMain;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__form {
    margin-top: 1.25rem;
  }

  &__input {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 0.9375rem;
    font-size: 0.875rem;
    line-height: 1.45;
    color: $grayMid;

    &::placeholder {
      font-size: 0.875rem;
      line-height: 1.45;
      color: $grayMid;
    }
  }

  &__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__block {
    margin-top: 3.125rem;
  }

  &__country {
    font-size: 1.3125rem;
  }

  &__city {
    display: block;
    color: $grayMain;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.9375rem;

    & + & {
      margin-top: 0.625rem;
    }
  }
}

.menuCatalog {
  @extend %scrollbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $grayMain;
  z-index: 2;
  padding-top: 9.375rem;
  overflow-y: scroll;
  transition: top 0.3s ease-in;
  display: none;

  &__doors {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;

    span {
      font-size: 1.3125rem;
      line-height: 1.4;
      color: #fff;
      margin-right: 0.75rem;
    }
  }

  &__information {
    display: none;
  }

  &__image {
    margin-top: 3rem;
    width: 12.75rem;
    height: 15.1875rem;
  }

  &__items {
    margin-top: 1.875rem;
  }

  &__ref {
    display: block;
    color: #fff;

    & + & {
      margin-top: 0.9375rem;
    }
  }

  &__mainAccordion {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 0;

    &:nth-child(2) {
      margin-top: 4.125rem;
      border-top: 1px solid rgba(255, 255, 255, 0.12);
    }
  }

  &__mainItems {
    margin-top: 1.875rem;
    text-align: center;
  }

  &__profile {
    width: 22.1875rem;
    height: 4.375rem;
    border: 1px solid #c4c4c4;
    margin: 2.5rem auto 0;
    display: block;
    @extend %buttonFont;
  }

  &__contacts {
    margin-top: 1.875rem;
    color: #fff;
    display: block;
    text-align: center;
  }
}

.plus {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  display: flex;
  align-items: center;

  &__vertical,
  &__horizontal {
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  &__vertical {
    transform: rotate(90deg);
    position: absolute;
    transition: transform 0.3s ease-in;
  }
}

.activeAccordion {
  .plus {
    &__vertical {
      transform: rotate(0deg);
    }
  }
}


.aside {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;

  &__block {
    position: relative;
    background-color: $grayMain;
    width: 4.375rem;
    height: 4.375rem;
    display: block;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #bfbfbf;
    }
  }

  &__word {
    position: absolute;
    bottom: 0.5625rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
    line-height: 1.25;
    color: #ffffff;
    opacity: 0.3;
  }
}

.configurator {
  margin-top: 17.3125rem;
  
  &__list{
    margin-top: 3.75rem;
  }
}

.variants {

  &__controls {
    display: flex;
    justify-content: flex-end;
    
  }

  &__number{
    margin-top: 0.75rem;
    margin-right: 1.25rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.6875rem;

    &_slide {
      display: flex;
    }
  }

  &__slider {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  

    &_wrapper {
     overflow: hidden;
    }

    &_items {
      display: flex;
      align-items: center;
      transition: transform 0.5s ease-in-out;
     
    }   
    &_item {
      display: block;
      max-height: 22.4375rem;
      max-width: 41.3125rem;
      color: rgba(255,255,255, 0.8);
      padding-bottom: 26.5625rem; 
    } 
  }
}

.details {

  margin-top: 7.5rem;

  &__container {
    display: flex;
    margin-top: 3.1875rem;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  &__info {
    margin-top: 1.125rem;
  }

  &__picture {
    object-fit: cover;
    height: inherit;
    object-position: left bottom;
  }

  &__image {
    box-shadow: 5.8125rem -3.125rem 0px 0px #e3e3e3;
    margin: 3.125rem 0px 0px 0px;
    width: 38.75rem;
    height: 24.125rem;
  }

  &__text {
    margin-top: 0.5rem;
    max-width: 29.1875rem;
  }

  &__Accordion {
    width: 100%;
    
    &:nth-child(1) {
      border-top: 1px solid #C4C4C4;
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.0625rem;
    border-bottom: 1px solid #C4C4C4;
    
  }

  &__information {
    display: none;
    margin-top: 3.125rem;
  }

  h3 {
   text-align: center;
  }
  
  
    .plus {
      
    
      &__vertical,
      &__horizontal {
        
        background-color: black;
      }
     
    }
}

.ideas{

  &__controls {
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 1.5625rem;
  }

  &__number{
    margin-right: 1.25rem;
  }

  h4 {
      margin-top: 1.25rem;
    }


  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.6875rem;

    &_slide {
      display: flex;
      align-items: center;
    }
  }
  
  &__projects {
    margin-right: 4.0625rem;
    text-decoration: underline;
  }
  
  &__slider {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  

    &_wrapper {
     overflow: hidden;
    }

    &_items {
      display: flex;
      align-items: center;
      transition: transform 0.5s ease-in-out;
     
    }   
    &_item {
      display: block;
      max-height: 15.625rem;
      max-width: 38.625rem;
      color: rgba(255,255,255, 0.8);
      padding-bottom: 26.5625rem; 
    } 
  }
}

.panels{

  &__controls {
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 1.5625rem;
  }

  h4 {
      margin-top: 1.25rem;
    }


  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.875rem;

    &_slide {
      display: flex;
    }
  }

  &__slider {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  

    &_wrapper {
     overflow: hidden;
    }

    &_items {
      display: flex;
      align-items: center;
      transition: transform 0.5s ease-in-out;
     
    }   
    &_item {
      display: block;
      max-height: 35.1875rem;
      max-width: 38.625rem;
      color: rgba(255,255,255, 0.8);
      
    } 
  }
  .product{
    width: 100%;
    &__info {
      display: flex;
    }
    &__text {
      color: #656565;
      position: relative;
    }
      
  }
}

footer {
  margin-top: 6.25rem;
  background: linear-gradient(180deg, #393a3a 0%, $grayMain 100%);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -25.8125rem;
  transition: right 0.3s ease;
  z-index: 1;

  &__content {
    width: 23.3125rem;
    height: 57rem;
    background-color: #fff;
  }

  &__image {
    height: 16.875rem;
    object-fit: cover;
  }

  &__info {
    padding: 1.875rem 2.25rem 2rem;
  }

  &__text {
    color: $grayMid;
    display: block;

    &_sm {
      margin-top: 1.25rem;
      color: $grayMid;
      display: block;
    }

    &_bm {
      margin-top: 3.125rem;
      color: $grayMid;
      display: block;
    }
  }

  &__subtitle {
    margin-top: 0.625rem;
  }

  &__phone {
    font-size: 1.75rem;
    line-height: 129%;
    color: $grayMain;
  }
  &__mail {
    margin-top: 0.625rem;
    display: block;
    font-size: 1.125rem;
    line-height: 140%;
    color: $grayMain;
    padding-bottom: 3.125rem;
    border-bottom: 1px solid #d3d3d3;
  }

  &__more {
    margin-top: 1.9375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    font-size: 1rem;
    line-height: 1.45;
    color: $grayMain;
  }

  &__button {
    margin-left: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #e3e3e3;
    border-radius: 50%;

    svg {
      height: 100%;
    }

    &:nth-child(2) {
      transform: rotate(180deg);
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    left: -2.5rem;
    width: 1.5rem;
    height: 1.5rem;

    svg {
      height: 100%;
    }
  }

  &__active {
    right: 0;
    overflow-y: scroll;
  }
}

.outro {
  border-bottom: 1px solid rgba(249, 249, 249, 0.33);
  border-top: 1px solid rgba(249, 249, 249, 0.33);
  padding: 2.5rem 0 4.75rem;
  display: flex;
  justify-content: space-between;

  &__block {
    &:last-child {
      margin-left: 13.4375rem;
      text-align: right;
    }
  }

  &__mainRef {
    font-family: Inter;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.2;
    letter-spacing: 0.035em;
    color: #ffffff;
    display: block;
    margin-bottom: 1.75rem;
  }
  &__ref {
    display: block;
    font-family: Inter;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.035em;
    color: $grayMid;

    & + & {
      margin-top: 0.75rem;
    }
  }

  &__where {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.25rem;
  }

  &__phone {
    font-size: 1.125rem;
    line-height: 1.4;
    color: #ffffff;

    &_mobile {
      display: none;
    }
  }

  &__office {
    margin-top: 7rem;
    font-size: 1rem;
    line-height: 1.45;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #ffffff;
  }
  &__text {
    @extend %discription2;
  }
}

.asap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 0 2.5rem;

  &__text {
    @extend %discription;
  }

  &__logo {
    width: 7.0625rem;
    height: 2.3125rem;

    svg {
      height: 100%;
    }
  }
}

@media (max-width: 768px) {

  .intro {

    &__image {
      margin-top: 19.3125rem;
      margin-left: -1.25rem;
      width: 22.4375rem;
      height: 21.3125rem;
    }

    &__picture {
      height: inherit;
      width: inherit;
      object-fit: cover;
      object-position: -18.125rem 0;
      margin-left: -1.875rem;
      
    }

    &__info {
      margin-left: 0;
    }
    &__title {
      font-size: 2.8125rem;
      line-height: 1.29;
    }

    &__text {
      
      color: #E3E3E3;
      margin-top: 0.9375rem;
    }
    &__button {
      margin-top: 1.875rem;
    }
  }

  .menu {
    height: 5.0625rem;

    &__where {
      display: none !important;
    }

    &__inst {
      display: none !important;
    }

    &__block {

      &:nth-child(2) {
        display: none;
      }
      
    }

    &__catalog {
      display: none;
    }
    &__phone {
      display: none;
    }
    &__text {
      display: none;
    }
    &__logo {
      width: 6.25rem;
      margin: 0;
    }
    &__openCatalog {
      margin: 0;
    }
  }

  .aside {
    display: none;
  }

  .idea {
    margin-top: 9.5625rem;

    &__title {
      font-size: 1.5rem;
      max-width: 18.75rem;
      margin: 0;

      h4 {
        margin-top: 1.1875rem;
      }
    }

    &__text {
      margin-top: 0.625rem;
      color: #797979;
    }

    &__container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__list{
      display: block;
      margin-top: 3.8125rem;

      &_left{
        margin: 0;
      }

      &_right{
        margin-top: 4.9375rem;
      }

      &_row:first-child {
        margin-bottom: 5.0625rem;
      }
    }

    &__image {
  
      &_left {
        box-shadow: -1.9375rem -2.875rem 0px -0.8125rem #e3e3e3;
      }
      &_right {
        box-shadow: 2.9375rem -3.8125rem 0px -1.875rem #e3e3e3;
      }
    
    }

  } 
 
  .cooperation {
    margin-top: 4.9375rem;
    margin-bottom: 25.5rem;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 0;
      line-height: 1.9375rem;
    }

    &__text {
      max-width: 17.875rem;
      margin-top: 0.625rem;
    }

    &__info{
      flex-direction: column;
      margin-left: -1.25rem;
      width: 110%;
      max-height: 42.875rem;

      &_text {
        margin-left: 2.375rem;
       
      }

      &_image {
        margin-top: 6.25rem;
        margin-left: 1.25rem; 
        margin-right: 1.25rem;
      }

    }

    &__button {
      margin-top: 2.5rem;
    }

   

  } 

  .function {
    margin-top: 4.375rem;
    margin-bottom: 0;

    &__container{
      display: grid;
      margin: 0;
    
    }

    &__tabs {
      margin: 0;
    }

    &__image{
      margin-top: 1.875rem;
      max-width: 19.9375rem;
      height: 13.1875rem;
      box-shadow: 2.0625rem -2.875rem 0px -1rem #e3e3e3;
    }
  }

  .projects {

    margin-top: 4.375rem;
  
    &__slider {
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      z-index: 1;
      

      &_wrapper {
        margin-top: 5.75rem;
        position: absolute;
        z-index: 3;
        width: 100%;
        border-bottom: 1px solid #C4C4C4;
        padding-bottom: 1.25rem;
      }
      
      &_item {
        max-height: 15.8125rem;
        padding: 0;
      }
    }

    &__controls {
      padding: 0;
    }

    h4 { 
       // max-width: 18.5625rem;
        margin-top: 20px;
      }
   

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 26.625rem;
      z-index: 2;
      position: absolute;

      &_slide{
        justify-content: space-between;
      
      }
    }
  }

  .project-site {

    margin-top: 35.375rem;
    margin-bottom: 20rem;

    &__title {
      margin-bottom: 0;
      max-width: 300px;
    }

    &__text {
      max-width: 17.875rem;
      margin-top: 0.625rem;
    }

    &__info{
      flex-direction: column;
      margin-left: -1.25rem;
      width: 110%;
      max-height: 35.3125rem;
      justify-content: space-between;

      &_text {
        margin-left: 2.375rem;
       
      }

      &_image {
        margin-top: 6.25rem;
        margin-left: 1.25rem; 
        margin-right: 1.25rem;
      }

    }

    &__button {
      margin-top: 2.5rem;
    }
  }

  .outro {
    flex-wrap: wrap;
    padding: 1.875rem 0;

    &__block {
      width: 50%;
      margin-top: 3.125rem;

      &:first-child {
        margin-top: 0;
        width: 100%;
        padding-bottom: 1.875rem;
        border-bottom: 1px solid rgba(249, 249, 249, 0.33);
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: 6.25rem;
          height: 1.8125rem;
        }
      }

      &:last-child {
        margin-top: 3.875rem;
        margin-left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__where {
      margin-top: 0;
    }
    &__office {
      margin-top: 0;
      font-size: 0.875rem;
    }

    &__phone {
      display: none;

      &_mobile {
        display: block;
        font-size: 1.125rem;
        line-height: 1.4;
        color: #ffffff;
      }
    }
  }

  .asap {
    padding: 1.75rem 0;
    display: block;

    &__text {
      font-size: 0.875rem;
      line-height: 1.5;
      letter-spacing: 0.035em;
    }

    &__logo {
      display: block;
      margin-top: 1.75rem;
    }
  }

  .modal {
    overflow: scroll;

    &__close {
      left: auto;
      right: 1.5rem;
    }
    &__text {
      &_bm {
        margin-top: 1.125rem;
      }
    }
    &__mail {
      padding-bottom: 2rem;
    }
    &__more {
      margin-top: 1rem;
    }
  }
}
